{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        {% if breadcrumb.href %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% else %}
        <li>{{ breadcrumb.text }}</li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ info_filter }}</div>
    <div id="progress"></div>
    <div class="row">
      <div id="filter-transaction" class="col-md-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-initial-date">{{ entry_initial_date }}</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input type="text" name="filter_initial_date" value="{{ filter_initial_date }}" placeholder="" id="input-initial-date" class="form-control date" readonly />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-final-date">{{ entry_final_date }}</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input type="text" name="filter_final_date" value="{{ filter_final_date }}" placeholder="" id="input-final-date" class="form-control date" readonly />
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="control-label" for="input-status">{{ entry_status }}</label>
                  <select name="filter_status" id="input-status" class="form-control">
                    {% for key,value in statuses %}
                    <option value="{{ key }}" {{ filter_status == key ? 'selected="selected"' }}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group text-right">
                  <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-filter"></i> {{ button_filter }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_transactions }}</h3>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table id="rede-rest" style="min-width:100% !important;" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="min-width: 80px !important;" class="text-center">{{ column_order_id }}</th>
                    <th style="min-width: 120px !important;" class="text-center">{{ column_date_added }}</th>
                    <th style="min-width: 200px !important;" class="text-left">{{ column_customer }}</th>
                    <th style="min-width: 100px !important;" class="text-center">{{ column_type }}</th>
                    <th style="min-width: 120px !important;" class="text-center">{{ column_status }}</th>
                    <th style="min-width: 100px !important;" class="text-center">{{ column_action }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% if transactions %}
                  {% for transaction in transactions %}
                  <tr>
                    <td class="text-center"><a href="{{ transaction.view_order }}">{{ transaction.order_id }}</a></td>
                    <td class="text-center">{{ transaction.date_added }}</td>
                    <td class="text-left">{{ transaction.customer }}</td>
                    <td class="text-center">{{ transaction.type }}</td>
                    <td class="text-center">
                      <span class="badge" style="background-color: {{ transaction.status_color }}">
                        {{ transaction.status_message }}
                      </span>
                    </td>
                    <td class="text-center">
                      <a href="{{ transaction.view_transaction }}" data-toggle="tooltip" title="{{ button_info }}" class="btn btn-info"><i class="fa fa-eye"></i></a>
                      <button type="button" data-toggle="tooltip" title="{{ button_excluir }}" class="btn btn-danger" name="button-excluir" id="{{ transaction.rede_rest_id }}" data-loading-text="..."><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="6">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script type="text/javascript">
    $('.date').datetimepicker({
      language: '{{ calendar_language }}',
      pickTime: false,
      format: 'YYYY-MM-DD'
    });

    {% if transactions %}
    $('#rede-rest').DataTable({
      "lengthMenu": [[10, 25, 50, 75, 100, -1], [10, 25, 50, 75, 100, '{{ text_all_lines }}']],
      "order": [],
      "columnDefs": [ {"targets": 5, "searchable": false, "orderable": false} ],
      "deferRender": true,
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json"
      },
      "dom": 'Bfrtip',
      "buttons": [
        {
          text: '{{ button_lines }}',
          extend: 'pageLength',
        },
        {
          text: '{{ button_columns }}',
          extend: 'colvis'
        },
        {
          text: '{{ button_print }}',
          extend: 'print',
          autoPrint: false,
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          text: '{{ button_copy }}',
          extend: 'copyHtml5',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          text: '{{ button_csv }}',
          extend: 'csvHtml5',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          text: '{{ button_excel }}',
          extend: 'excelHtml5',
          exportOptions: {
            columns: ':visible'
          }
        },
        {
          text: '{{ button_pdf }}',
          extend: 'pdfHtml5',
          orientation: 'landscape',
          pageSize: 'LEGAL',
          exportOptions: {
            columns: ':visible'
          }
        }
      ]
    });
    {% endif %}

    $('#button-filter').on('click', function() {
      let filter_url = '{{ view_filtrar }}';

      const filter_initial_date = $('input[name="filter_initial_date"]').val();
      const filter_final_date = $('input[name="filter_final_date"]').val();
      const filter_status = $('select[name="filter_status"]').val();

      if (filter_initial_date) {
        filter_url += `&filter_initial_date=${filter_initial_date}`;
      }

      if (filter_final_date) {
        filter_url += `&filter_final_date=${filter_final_date}`;
      }

      if (filter_status) {
        filter_url += `&filter_status=${filter_status}`;
      }

      location.href = filter_url;
    });

    $('button[name="button-excluir"]').click(function() {
      const id = $(this).attr('id');

      bootbox.confirm({
        message: "{{ text_confirm_excluir }}",
        buttons: {
          confirm: { label: '<i class="fa fa-check"></i> {{ text_confirm_yes }}', className: 'btn-success' },
          cancel: { label: '{{ text_confirm_no }}', className: 'btn-danger' }
        },
        callback: function (result) {
          if (result === true) {
            $('.alert alert-danger').remove();

            $.ajax({
              url: '{{ view_excluir }}' + id,
              dataType: 'json',
              beforeSend: function() {
                $('button[name="button-excluir"]').button('loading');
                $('button[name="button-excluir"]').prop('disabled', true);
              },
              complete: function() {
                $('button[name="button-excluir"]').button('reset');
                $('button[name="button-excluir"]').prop('disabled', false);
              },
              success: function(json) {
                if (json['error']) {
                  $('html, body').animate({ scrollTop: 0 }, 'slow');

                  $('#progress').html('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                } else {
                  location.href = location.href;
                }
              }
            });
          }
        }
      });
    });
  </script>
</div>
{{ footer }}